.block-information-panel {
    height: 100vh;
    width: 100%;
    background-color: #175676;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.block-information-panel .block-information-header {
    display: flex;
    flex-direction: row;
    padding: 20px 20px 0;
}

.block-information-panel .close-button {
    padding: 20px;
    margin: -20px -20px auto auto;
}

.block-information-panel .block-information-content-container {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;

    scrollbar-width: none; /* Hide the scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar in IE */
}

.block-information-panel .block-information-content-container::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar in WebKit-based browsers */
}

.block-information-panel .block-information-content {
    display: flex;
    flex-direction: column;
}

.block-information-panel .block-information-divider {
    background-color: #ffffff;
}

.block-information-panel .block-color {
    align-self: flex-start;
    text-transform: capitalize;
}

.block-color-undecided {
    color: #aaaaaa;
}

.block-color-blue {
    color: #b4cfed;
}

.block-color-red {
    color: #ff5972;
}

.block-information-panel .is-block-in-virtual-selected-parent-chain {
    align-self: flex-start;
}

.block-information-panel .block-daa-score {
    align-self: flex-start;
}

.block-information-panel .selected-parent-hash {
  font-weight: bold;
}

.block-information-panel .selected-child-hash {
  font-weight: bold;
}

.information-tooltip {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    text-align: justify;
    text-justify: inter-character;
}

.information-tooltip a {
    text-decoration: underline;
}

.information-tooltip p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.information-tooltip .further-information {
    font-weight: bold;
}

.block-information-panel .katnip-link-text {
    align-self: flex-end;
    font-weight: bold;
    text-align: end;
    width: 100%;
    padding: 0 20px 20px;
}

.block-information-panel .katnip-link-text a {
    text-decoration: underline;
}
