.information-tooltip {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
}

.information-tooltip a {
  text-decoration: underline;
}

.information-tooltip p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.information-tooltip .further-information {
  font-weight: bold;
}