.block-information-panel {
    height: 100vh;
    width: 100%;
    background-color: #175676;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.block-information-panel .block-information-header {
    display: flex;
    flex-direction: row;
}

.block-information-panel .close-button {
    padding: 20px;
    margin: -20px -20px auto auto;
}

.block-information-panel .block-information-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.block-information-panel .block-information-divider {
    background-color: #ffffff;
}

.block-information-panel .block-information-item {
    display: flex;
    flex-direction: column;
}

.block-information-panel .block-information-label {
    align-self: flex-start;
}

.block-information-panel .block-color {
    align-self: flex-start;
    text-transform: capitalize;
}

.block-color-undecided {
    color: #aaaaaa;
}

.block-color-blue {
    color: #b4cfed;
}

.block-color-red {
    color: #ff5972;
}

.block-information-panel .is-block-in-virtual-selected-parent-chain {
    align-self: flex-start;
}

.block-information-panel .katnip-link-text {
    align-self: flex-end;
    font-weight: bold;
    text-align: end;
    width: 100%;
}

.block-information-panel .katnip-link-text a {
    text-decoration: underline;
}
